# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm project files
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env

# macOS specific
.DS_Store

# Virtual environment
venv/
ENV/

# Output Folder
Out/

# Logs
Simulation_Logs/

# Data
#Simulation_Data/
Storage_Data/
#*Data/